/* For the Search bar */
div.container {
    max-width: 1000px;
    margin: 30px auto;
}
section.filters {
    background-color: white;
    width: 100%;
    height: 70px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
section.filters button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin: 11px 30px;
    font-size: 18px;
    float: right;
}
section.filters button:hover {
    opacity: .9;
}
/* The location and amenities part of the search bar */
.locations,
.amenities {
    height: 100%;
    width: 25%;
    float: left;
}
.locations {
    border-right: 1px solid #DDDDDD;
}

/* Filter the title styles */
.locations h3,
.amenities h3 {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 30px;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
}

/* Filter the subtitle styles */
.locations h4,
.amenities h4 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    text-align: left;
}

/* To display the location and the amenities upon hover */
.popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    display: none;
    z-index: 1;
}
.popover h2 {
    font-size: 16px;
}
li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}
